- `conda install autopep8`
- `pip install rise`
- `pip install pandas`

# Class will start at 6:05 PM

In the meantime... fun fact!


# Week 2: Feature Engineering and Model setup
### Intro to Machine Learning | Professional Certificate course 

Viviana Marquez,  M.Sc.<br>
March 1, 2023

<br>

<img src='../img/all/di.jpeg' style='width:500px; float: left; margin: 0px 30px 15px 0px'>

# 🚀 Today's agenda

**Part 1:**

- Getting data
- Pandas crash course
- EDA: Exploratory Data Analysis
- Preparing data
- Basic feature engineering

# 🚀 Today's agenda

**Part 2:**
- Train, validation, and test data sets
- Underfitting vs overfitting
- Bias-Variance trade-off
- How to select a model?

# ❇️ Housekeeping

## Class dynamics

**🗓️ Schedule**
- Wednesdays 6PM - 9PM PST from February 22 to April 5 (7 weeks)
- Classes will be LIVE through Zoom
- Lectures with exercises and Q+A


**⌛ Class breakdown**
- First five minutes I'll give a fun fact. Class will promptly start at 6:05PM PST
- Self-graded quiz
- Two blocks, with a 15 min break in between 
- Ungraded homework 💪

## Resources

<br>
<img src='../img/class_0/book.png' style='height:500px; float: left; margin: 0px 30px 15px 0px'>

- [Canvas](https://usfca.instructure.com/courses/1613920)
- [GitHub](https://github.com/vivianamarquez/Intro-to-Machine-Learning)
- One office hour per week: Fridays 12PM EST

- 🙋🏻🙋🏾‍♀️🙋‍♂️ Questions and comments are encouraged!
- My email: vmarquez2@usfca.edu

- If you can't attend a session, please email Mikaela at mlmora@usfca.edu

# ⏪ Last class recap

- What is machine learning?
- Creating a conda environment 
- Types of machine learning models 
- ML workflow

# 🗺️📍 Guide map 

<center>
    <img src='../img/class_1/ml_map2.png' style='height:450px; float: center; margin: 0px 0px 0px 0px'>
</center>

# 🗺️📍 Guide map 

<br>
<center>
    <img src='../img/class_0/pipeline.png' style='height:350px;'>
</center>

### Conda environment commands

- `conda activate IntroML`
        - Launch `jupyter notebook`

# 🚀 Part 1

# ❇️ Getting data

# 🗺️📍 Guide map 

<br>
<center>
    <img src='../img/class_2/pipeline_EDA.png' style='height:350px;'>
</center>

## Data is the new oil

<br>
<center>
    <img src='../img/class_2/everyminute.png' style='height:750px;'>
</center>

## 👷🏽‍♀️ Getting data: In an ideal world...

<br>
<center>
    <img src='../img/class_2/callcenter.jpg' style='height:350px;'>
</center>

- Imagine that you're working with data from a call center
- Your task is to determine whether a call is a customer service inquiry or a sales inquiry
- For this task, your company is provided with thousands (even millions) of observations
- Additionally, each data point is labeled

- Unfortunately, most projects are not that fortunate 🙁 and we need to go get our own data

## 👷🏽‍♀️ Where to get data?

**Open data repositories:**

- OpenML.org (https://openml.org)
- Kaggle.com (https://kaggle.com/datasets)
- PapersWithCode.com (https://paperswithcode.com/datasets)
- UC Irvine Machine Learning Repository (https://archive.ics.uci.edu/ml)
- Amazon's AWS datasets (https://registry.opendata.aws)
- TensorFlow datasets (https://tensorflow.org/datasets)
- Google's data search engine: (https://datasetsearch.research.google.com/)

**Meta portals and other pages listing datasets:**
- DataPortals.org (https://dataportals.org/)
- OpenDataMonitor.eu (https://opendatamonitor.eu/frontend/web/index.php?r=dashboard%2Findex)
- Wikipedia's list of machine learning datasets (https://en.wikipedia.org/wiki/List_of_datasets_for_machine-learning_research)
- Quora's list (https://www.quora.com/Where-can-I-find-large-datasets-open-to-the-public)
- Reddit's dataset (https://www.reddit.com/r/datasets)
- GitHub * (https://github.com/)

**Location specific:**

- US Government data (https://data.gov/)
- San Francisco Open Data (https://datasf.org/opendata/)
- California Open Data (https://data.ca.gov/)
- Los Angeles Open Data (https://data.lacity.org/)
- NYC Open Data (https://opendata.cityofnewyork.us/)
- State of New York Open Data (https://data.ny.gov/)

**Topic specific:**

- World Bank Open Data (https://data.worldbank.org/)
- PG&E's Public Data Sets (https://pge-energydatarequest.com/public_datasets) 
- ~Soccer~ Football data (https://datahub.io/collections/football_)
- The Office Dataset (https://www.kaggle.com/datasets/nehaprabhavalkar/the-office-dataset)
- The Last of s (https://www.kaggle.com/datasets/lazaro97/the-last-of-us-reviews)

## 👷🏽‍♀️ Other ways of getting data

- Request your own data: Twitter, Facebook, WhatsApp, etc.
- Use APIs (Application Programming Interface)
- Webscraping
    - `BeautifulSoup`: Library for parsing HTML and XML documents
    - `Selenium`: Web browser automation tool

## 👷🏽‍♀️ Data augmentation 

- Technique used to increase the amount of training data by artificially creating new data from existing data (crucial for the performance of ML models and prevent overfitting)

<br>
<center>
    <img src='../img/class_2/cat1.jpeg' style='height:350px;'>
</center>

## 👷🏽‍♀️ Data augmentation 

- Technique used to increase the amount of training data by artificially creating new data from existing data

<br>
<center>
    <img src='../img/class_2/cat2.jpeg' style='height:350px;'>
</center>

## 👷🏽‍♀️ Data augmentation 

- Technique used to increase the amount of training data by artificially creating new data from existing data

<br>
<center>
    <img src='../img/class_2/cat4.jpeg' style='height:350px;'>
</center>

## 👷🏽‍♀️ Data augmentation 

- Technique used to increase the amount of training data by artificially creating new data from existing data

<br>
<center>
    <img src='../img/class_2/cat5.jpeg' style='height:350px;'>
</center>

## 👷🏽‍♀️ Data augmentation 

Some strategies for **image** data:

- Flipping
- Rotating
- Cropping
- Zooming
- Adding noise or distortion
- Adjust brightness and contrast

## 👷🏽‍♀️ Data augmentation 

Some strategies for **text** data:

- Synonym/antonym replacement
- Entity replacement
- Random insertion/deletion 
- Back-translation

## 👷🏽‍♀️ Data augmentation 

Some strategies for **numerical** data:

- Scaling: Multiply or divide the data by a constant factor to increase or decrease its magnitude.

- Shifting: Add or subtract a constant value to the data to shift its position along the scale.

- Noise addition: Add a small amount of random noise to the data to create variations. (For example, adding small amounts of Gaussian noise to simulate measurement error)

- Interpolation: Add new data points to the dataset by interpolating between existing data points.

- Smoothing: Smooth the data by applying filters or averaging techniques.

# ❇️ Pandas crash course

<img src='../img/class_2/cali.png' style='height:500px; float: left; margin: 0px 100px 0px 0px'>

### Before we start... 

Download data from [here](https://raw.githubusercontent.com/vivianamarquez/Intro-to-Machine-Learning/main/data/housing.csv)

 - California Housing Prices dataset
     - 1990 California census

# 🐼 Pandas

- `pandas` is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language

In [2]:
! pip install pandas

Collecting pandas
  Downloading pandas-1.5.3-cp39-cp39-macosx_10_9_x86_64.whl (12.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 50.3 MB/s eta 0:00:0000:0100:01
Collecting numpy>=1.20.3
  Downloading numpy-1.24.2-cp39-cp39-macosx_10_9_x86_64.whl (19.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.8/19.8 MB 41.1 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/vivianamarquez/opt/anaconda3/envs/IntroML/lib/python3.9/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2022.7.1-py2.py3-none-any.whl (499 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 499.4/499.4 kB 35.7 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in /Users/vivianamarquez/opt/anaconda3/envs/IntroML/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.24.2 pandas-1.5.3 pytz-2022.7.1

In [4]:
# importing pandas
import pandas as pd

In [5]:
# reading data
df = pd.read_csv("../data/housing.csv")

In [9]:
# viewing data
df.head()
df.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
6665,-117.18,32.69,37.0,3112.0,716.0,1304.0,674.0,3.2121,320800.0,NEAR OCEAN
10850,-117.68,35.65,15.0,2701.0,576.0,1245.0,513.0,3.3269,81900.0,INLAND
10202,-120.47,35.04,29.0,1315.0,279.0,926.0,249.0,2.9375,144800.0,<1H OCEAN
15493,-117.70,34.08,33.0,4674.0,791.0,2769.0,784.0,4.1448,137300.0,INLAND
1465,-120.62,35.12,22.0,1240.0,294.0,768.0,288.0,2.6550,160000.0,<1H OCEAN

In [13]:
# get number of rows, number of columns
df.shape

(20640, 10)

In [15]:
# data types of each column
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
ocean_proximity        object
dtype: object

In [7]:
# get all column names
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [8]:
# call a column
df['longitude']

0       -122.23
1       -122.22
2       -122.24
3       -122.25
4       -122.25
          ...
20635   -121.09
20636   -121.21
20637   -121.22
20638   -121.32
20639   -121.24
Name: longitude, Length: 20640, dtype: float64

In [10]:
# call multiple columns
df[['longitude', 'latitude']]

       longitude  latitude
0        -122.23     37.88
1        -122.22     37.86
2        -122.24     37.85
3        -122.25     37.85
4        -122.25     37.85
...          ...       ...
20635    -121.09     39.48
20636    -121.21     39.49
20637    -121.22     39.43
20638    -121.32     39.43
20639    -121.24     39.37

[20640 rows x 2 columns]

In [12]:
# apply a column-wise function

df['ocean_proximity'].apply(lambda row: row.lower())

0        near bay
1        near bay
2        near bay
3        near bay
4        near bay
           ...
20635      inland
20636      inland
20637      inland
20638      inland
20639      inland
Name: ocean_proximity, Length: 20640, dtype: object

**`loc` vs `iloc`**

- `loc`: Select data by label/index
- `iloc`: Select data by integer location

In [17]:
df.loc[3, 'longitude']

-122.25

In [21]:
df.head()
df.iloc[3, 3]

1274.0

- We will learn more Pandas as we go on our next topic
- Documentation: https://pandas.pydata.org/docs/

# ❇️ EDA: Exploratory Data Analysis

### 🕵️ EDA: Exploratory Data Analysis

<br>
<center>
    <img src='../img/class_2/pipeline_EDA.png' style='height:300px;'>
</center>

- EDA is the process of performing initial investigations on data to be able to understand it, identify patters and relationships between variables, detect outliers and anomalies with the help of summary statistics and data visualizations.

- By exploring the data in this way, data professionals can check the overall health of their data and gain insights and make informed decisions about how to approach further analysis or modeling

# ❇️ Preparing data

# ❇️ Basic Feature Engineering

# 🚀 Part 2

See you here at

# ❇️ Train, validation, and test data sets

# ❇️ Underfitting vs Overfitting / Bias-Variance trade-off

# ❇️ How to select a model?

# ⏪ Today's recap

-

<center>
<img src='../img/all/bye.gif' style='height:400px;'> 
</center>

# Next class: Regression models